---

---

<section class="hero">
  <h2>Welcome to FeedMe!</h2>
  <p>
    FeedMe is an online RSS feed reader. Please login or signup to start adding
    feeds!
  </p>
</section>

<style>
  section.hero {
    height: calc(100vh - var(--header-height) - 1px);
    height: calc(100dvh - var(--header-height) - 1px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
</style>
